<p class="label">
  To start communication,please,provide following data:
</p>
<%= form_tag(go_to_chat_path, method: "post") do %>
<div class="menu">
  <%= text_field_tag(:username, nil ,  
  {:placeholder => "username"}) %>
  <span id="uservalid" style="display:none"></span>
</div>
<div class="menu">
 <%= text_field_tag(:email, nil ,  
 {:placeholder => "email"}) %>
 <span id="emailvalid" style="display:none;"></span>
</div>
<%= select_tag(:department, options_for_select([
  ['User', Role::USER_ID], ['Employee', Role::EMPLOYEE_ID]], Role::USER_ID ), :class => "select") %>
<%= submit_tag("Submit", :class => "submit", :id => "button") %>
<% end %>

